/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --Primario: #1d1b31;
    --Primario-Light: #486998;
    --Secundario: #0002A1;
    --Complementario-A: #FF2E19;
    --Complementario-B: #FFDA0D;
    --Complementario-C: #069A8E;
    --bc-color: #f2f2f2;
    --card-color: white;
}

.sorting::before{ visibility: hidden !important; }

.article-form{
    width: 100%;
    justify-content: center;
    display: inline-flex;
}

.article-form form{
    margin: 15px;
}

table{
    background-color: transparent !important;
    border: none;
}

tr{
    background-color: var(--card-color) !important;
}

td{
    padding: 10px !important;
    align-content: center !important;
    vertical-align: middle !important;
    color: #424242 !important;
    font-size: 16px;
}

table td:not([align]), table th:not([align]){
    text-align: center;
}

th{
    background-color: transparent !important;
    color: var(--Primario) !important;
    text-align: center !important;
    padding: 25px !important;
    vertical-align: middle !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.is-current{
    background-color: var(--Primario) !important;
}

.tabla-reporte-final{
    border: none !important;
}

.tabla-reporte-final tr:last-child td{
    background-color: var(--Primario) !important;
    color: white !important;
}

.tabla-reporte-final tr:last-child td:nth-child(1){
    border-radius: 0 0 0 5px !important;
}

.tabla-reporte-final tr:last-child td:last-child{
    border-radius: 0 0 5px 0 !important;
}

ul li {
    list-style-type: none ;
}

ul li .nav-link {
    text-decoration: none !important;
}

.drop-op{
    color: white;
    padding: 5px 10px 5px 10px;
    background-color: var(--Primario) !important;
    border-radius: 5px;
    font-size: 16px;
}